/*MENU  - ME FALTA PONER UNO AL LADO DEL OTRO */
body {
	max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    margin: center;

}

.todo-el-menu {
	width: 1200px;
	height: 200px;
	padding: 0px;
	margin-bottom: 10px;
	}



.imagen-logo {
	display: flex;
	flex-direction: row;
	margin: 0px;
	width: 200px;
    height: 100px;
}

.imagen-logo a{
	margin: 20px 0px 10px 40px;
}


.menu {  
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	
	margin: 0px 0px 0px 400px;
	padding: 0px;
	
  }


.menu li {
	display: inline-block;
	margin: 0px;
	padding: 0px;

}


.menu a {
	display: flex;
	
	width: 130px;
	color:#606060;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	letter-spacing: 2.5px;
	list-style: none;
	font-weight: 430;
	text-decoration-line: none;
	margin: 90px 15px 0px 6px;
	padding: 10px;
	
	
	}

.hola a{
	display: flex;
	width: 100px;
	margin: 85px 18px 0px 0px;
	text-align: right;
	color: #D3A89B;
	font-size: 22px;
	letter-spacing: 2.5px;
	text-decoration: underline;
	text-decoration-color:  #D3A89B;
}

.todo-el-menu {
	width: 1200px;
	height: 200px;
}

/*animaciones*/

.menu .hola a:focus {
	color: #606060;
	text-decoration: underline;
	text-decoration-color: #606060;
}

.menu li a:focus {
	color: #D3A89B;
}


.link-icono:hover {
	font-weight: 700;
	text-decoration: none;
	color: #606060;
	text-decoration-line: none;
}

.imagen1:hover {
	transform: scale(1.2);
}
.imagen2:hover {
	transform: scale(1.2);
}
.imagen3:hover {
	transform: scale(1.2);
}



/*titulos y parrafos*/

h1 {
	color: #D3A89B;
	font-size: 70px;
	font-family: 'Libre Baskerville', serif;
	font-weight: lighter;
	letter-spacing: 3px;
	padding: 0px;
	text-align: center;
	margin: 70px 20px 20px 10px;
	;
}


h2  {
	color: #D3A89B;
	font-family: 'Montserrat', sans-serif;
	font-size: 44px;
	margin: 40px 0px 0px 100px;
}

.contacto_subtitulo {
	margin: 10px 0px 50px 100px;
}

h3 {
	color: #D3A89B;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	padding: 18px 5px 5px 0px;
	margin: 50px 5px 5px 25px;
}


h5 {
	color: #606060;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	text-align: left;
	padding: 0px;
	margin: 20px 0px 50px 25px;
}


p {
	color: #606060;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 5px;
	margin: 18px 5px 35px 30px;
}



.link-icono {
	text-align: center;
	color: #606060;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	letter-spacing: 1.5px;
	font-weight: 500;
	margin: 10px 5px 0px 5px;	
}




.ir-a-servicios {
	display: flex;
	flex-direction: row;
	justify-content: center;
}



/*es otra seccion*/

.que-es-magin {
	color: #606060;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	line-height: 18px;
	background-color: #f6f6f6;
	background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
	letter-spacing: 1.8px;
	padding: 25px;
	text-align: center;
	margin: 9px 60px 120px 60px;
}


/*fin de pagina*/

.redes-sociales {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin-top: 100px;
	padding: 0px;	
	}

.redes-sociales li {
	margin: 10px;
	
}


.copy {
	width: 1200px;
	height: 40px;
	background-color: #dfa375;
	background-image: linear-gradient(315deg, #dfa375 0%, #c58e7f 74%);
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 9px;
	text-align: center;
	padding-top: 19px;
	margin: 10px 0 10px 0px;
}

